@keyframes sizeAnim {
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.categoryCard-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;

    /* Layout */
    display: grid;
    grid-template: 1fr / 10% 1fr auto;
    height: 10vh;
    margin-bottom: 1%;
    padding-right: 24px;
}

.categoryCard-icon {

    /* Layout */
    align-self: center;
    grid-column: 1 / 2;
    justify-self: center;
    width: max-content;
}

.categoryCard-icon > img {
    /* Layout */
    max-height: 64px;
    max-width: 64px;
}

.categoryCard-info {

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
}

.categoryCard-info-title {
    /* Style */
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;

    /* Layout */

    width: min-content;
}

.categoryCard-info-title:after {
    background-color: #DC143C;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 4px;
    width: 100%;
}

.categoryCard-info-title:hover:after {
    animation: sizeAnim 1s infinite linear;
}

.categoryCard-info-description {
    font-weight: 200;

    /* Layout */
}

.categoryCard-threadCount {
    /* Layout */
    align-self: center;
    
}