@keyframes sizeAnim {
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.categoryCard-category-container {
    /* Style */
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 0.25vh solid #DC143C;
    border-radius: 10px 10px 0 0;
    color: white;

    /* Layout */
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.categoryCard-info {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}

.categoryCard-info-title {
    /* Style */
    background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    transition: all .15s ease-out;

    /* Layout */
    width: max-content;
}

.categoryCard-info-title:hover {
    background-position: left bottom;
    color: black;
}

.categoryCard-info-description {
    font-weight: 200;

    /* Layout */
}

.categoryCard-threadCount {
    /* Layout */
    align-self: center;
    margin-right: 3%;
}

.categoryCard-subCategory-container {
    /* Style */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
    color: white;

    /* Layout */
    margin-bottom: 1%;
    padding: 1% 24px 1% 0;  
}

.categoryCard-subCategory-info {
    display: flex;
}

.fa-caret-right {
    align-self: center;
    margin-left: 3%;
    width: max-content;
}

.categoryCard-subCategory-title {
    /* Style */
    color: white;
    font-size: 1.15em;
    font-weight: 500;
    text-decoration: none;

    /* Layout */
    margin-left: 0.5%;
    width: max-content;
}

.categoryCard-subCategory-noSub {
    margin-left: 3%;
}

.categoryCard-subCategory-title-link {
    /* Style */
    background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    color: white;
    text-decoration: none;
    transition: all .15s ease-out;
}

.categoryCard-subCategory-title-link:hover {
    /* Style */
    background-position: left bottom;
    color: black;
}