.navbar-wrapper {
    /* Style */
    border-bottom: solid 3px #DC143C;

    height: 100%;
    max-height: 7.5%;
}

.navbar-container {
    /* Style for NavBar */
    background-color: black;
    
    /* Set-up for grid */
    display: grid;
    grid-template: 1fr / 2.5% 1fr 1fr 2.5%;

    /* Position NavBar */
    position: fixed;
    height: inherit;
    max-height: inherit;
    width: 100%;
}

.navbar-leftColumn {
    /* Styling */

    /* Layout */
    grid-column: 2 / 3;
}

.navbar-rightColumn {
    /* Layout */
    grid-column: 3 / 4;

    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.navbar-rightColumn > a, .navbar-rightColumn > div {
    /* Styling */
    border-radius: 4px; 
    color: white;
    cursor: pointer;
    padding: 6px 6px 8px 6px;
    text-decoration: none;
    transition: all 0.35s ease;
    will-change: scale, background-color;

    /* Layout */
    align-self: center;
    margin-left: 5%;
}

.navbar-rightColumn > a:active, .navbar-rightColumn > div:active {
    /* Styling */
    transform: scale(0.5);
}

.navbar-rightColumn > a:hover, .navbar-rightColumn > div:hover {
    /* Styling */
    background-color: #DC143C;
}

.navbar-profile-container {
    /* Styling */
    padding-right: calc(6px + 0.5vmin) !important;

    /* Layout */
    height: 50%;
}

.navbar-profile {
    /* Styling */
    color: white;

    /* Layout */
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navbar-profile > img{
    /* Styling */
    border-radius: 50%;


    /* Layout */
    height: 100%;
}

.navbar-profile > * {
    /* Layout */
    align-self: center;
    margin-right: 5%;
}

.active-link {
    background-color: #DC143C;
}