@font-face {
    font-family: 'Exo 2';
    src: url(./fonts/Exo2-VariableFont_wght.ttf) format('truetype');
}

* {
    font-family: 'Exo 2' !important;
}

a:active, a:focus {
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
}

#root {
    width: 100%;
    height: 100%;
}

html, body {
    background-color: #292929;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.page-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.page-container {
    height: 92.5%;
    position: absolute;
    margin-top: 7.5vh;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Page Transitions */
.fade-enter {
    opacity: 0;
    transition: opacity 100ms ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    z-index: 3;
}
.fade-exit {
    opacity: 1;
    transition: opacity 100ms ease-in;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}

.page-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 100ms;
}

.fa, .fas, .far {
    font-family: "Font Awesome 5 Free" !important; 
}

.footer-container {
    margin-top: auto;
    background-color: black;
    flex-shrink: 0;
    height: 7.5vh;
    width: 100%;
}

.footer-links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.footer-links a {
    background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    color: white;
    text-decoration: none;
    transition: all .15s ease-out;
}

.footer-links a:hover {
    background-position: left bottom;
    color: black;
}